.explore {
  width: 100%;

  .explore-header {
    background: url('/img/cloneBanner.jpg') no-repeat center center;
    background-size: cover;
    background-color: $gigas;
    height: 16em;
    position: relative;
    color: $white;

    h1 {
      position: absolute;
      bottom: 0;
      margin: 48px 0 48px 96px;
      font-size: 48px;
      font-weight: 200;
      min-width: 420px;
    }
  }

  .explore-header-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 16px;
    left: 96px;
    font-size: 22px;
  }

  .explore-header-nav {
    background-color: $trans-white3;
    width: 100%;
    height: 32px;
    margin-top: 64px;
    display: inline-block;
    line-height: 32px;
    padding-left: 96px;
    font-weight: 200;
  }

  .explore-page-description {
    width: 100%;
    max-width: 1400px;
    margin: 48px 0 48px 96px;

    h3 {
      font-weight: 400;
      color: $french-grey;
    }
  }

  .convo-card-list-section {
    flex: 1;
    padding-top: calc(15px);
    padding-bottom: calc(15px);
    background-color: $seashell;
    height: 100%;
  }

  .convo-card-list {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(15px);
    padding-right: calc(15px);
  }

  .convo-card {
    padding: 10px;
    text-decoration: none;
    min-height: 164px;
    margin: 8px;
    overflow: hidden;
    flex: 1 0 18.625em;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    background-color: $white;
    border-radius: 3px;
    color: $mine-shaft;
    transition: transform 0.2s ease, max-width 0.2s ease, margin 0.2s ease, opacity 0.2s ease;

    &:hover {
      opacity: 1;

      .convo-card-action {
        opacity: 1;
      }
    }
  }

  .convo-card-header {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 0%;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }

    h3 {
      font-size: 22px;
      margin: 0;
    }
  }

  .convo-card-avatar {
    width: auto;
    max-height: 30px;
    margin-right: 10px;
    border-radius: 3px;
  }

  .convo-card-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 10px;
    border-top: 1px dotted $isabelline;
  }

  .convo-card-info {
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;
  }

  .convo-card-action {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: opacity 0.4s ease;

    button {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 19px;
      box-sizing: border-box;
      display: inline-block;
      background-color: $sea-buckthorn;
      border: none;
      border-radius: 6px;
      outline: none;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      text-align: center;
      transition: background-color 0.1s ease, border-color 0.1s ease;
      padding: 4.8px 21px;
    }
  }
}
