@import '../../mixins/_variables.scss';

.avatar {
  width: 30px;
  max-width: 30px;
  height: auto;
  border-radius: 4px;
}

.chat-container {
  display: flex;
  flex-direction: row;
}

.chat-header-wrapper {
  width: calc(100% - 75px);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.chat-and-toolbar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  padding-top: 64px;
}

.chat-toolbar {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  order: 2;
  flex-shrink: 0;
  display: flex;
  width: 70px;
  // 
  border-left: 1px solid #f1f1f1;
}

.chat-header {
  z-index: 10; // XXX
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to left, $maroon, $violet);
  padding-left: 26px;
  display: flex;
  align-items: center;

  .chat-header-avatar {
    align-items: center;
    flex-shrink: 0;
    padding-right: 18px;

    img {
      border: 3px solid white;
      border-radius: 4px;
    }
  }

  .chat-header-title {
    flex-grow: 1;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    text-overflow: ellipsis;
  }

  .chat-user-avatar {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0 8px 19px;
    margin-right: 19px;
  }

  .avatar {
    float: right;
  }
}

.chat-wrapper {
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-content {
  height: 360px; // should be set dynamically
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #fdfdfd;

  .chat-item {
    transition: background-color 0.2s linear;
    background-color: transparent;

    &:hover {
      background-color: rgba(240, 240, 240, 0.3);
    }
  }

  .chat-item.burst-start {
    padding-bottom: 0.2em;
  }

  .chat-item.burst-continued {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .chat-item-container {
    margin: 0.4em 12px 0;
    padding-left: 22px;
    clear: both;
  }

  .chat-item-aside {
    float: left;
    margin-top: 6px;
  }

  .chat-item-content {
    margin-left: 52px;
    margin-right: 44px;
    vertical-align: top;
    min-height: 1.5em;
  }

  .chat-item-details {
    // 
  }

  .chat-item-user {
    vertical-align: middle;
    display: inline;
    margin-top: 2px;
    font-weight: 600;
    opacity: 0.7;
  }

  .chat-item-time {
    vertical-align: middle;
    display: inline;
    margin-top: 2px;
    float: right;
    color: rgba(170, 170, 170, 0.7);
  }

  .chat-item-text {
    color: black;
    word-wrap: break-word;
    margin: 0;
    padding: 0;

    * {
      margin: 0;
    }

    /*
     Solarized Color Schemes originally by Ethan Schoonover
     http://ethanschoonover.com/solarized
     Ported for PrismJS by Hector Matos
     Website: https://krakendev.io
     Twitter Handle: https://twitter.com/allonsykraken)
    */

    /*
      SOLARIZED HEX
      --------- -------
      base03    #002b36
      base02    #073642
      base01    #586e75
      base00    #657b83
      base0     #839496
      base1     #93a1a1
      base2     #eee8d5
      base3     #fdf6e3
      yellow    #b58900
      orange    #cb4b16
      red       #dc322f
      magenta   #d33682
      violet    #6c71c4
      blue      #268bd2
      cyan      #2aa198
      green     #859900
    */

    code[class*="lang-"],
    pre[class*="lang-"] {
      color: #657b83; /* base00 */
      // font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.4;
      font-size: 14px;
      tab-size: 4;
      hyphens: none;
      background-color: #fdf6e3; /* base3 */
      overflow-x: auto;
      display: block;
      padding: 0.5em;
      border-radius: 6px;
      border: 1px solid #eee8d5;
    }

    pre[class*="lang-"]::-moz-selection,
    pre[class*="lang-"] ::-moz-selection,
    code[class*="lang-"]::-moz-selection,
    code[class*="lang-"] ::-moz-selection {
      background: #073642; /* base02 */
    }

    pre[class*="lang-"]::selection,
    pre[class*="lang-"] ::selection,
    code[class*="lang-"]::selection,
    code[class*="lang-"] ::selection {
      background: #073642; /* base02 */
    }

    /* Code blocks */
    pre[class*="lang-"] {
      padding: 1em;
      margin: 0.5em 0;
      overflow: auto;
      border-radius: 0.3em;
    }

    :not(pre) > code[class*="lang-"],
    pre[class*="lang-"] {
      background-color: #fdf6e3; /* base3 */
    }

    /* Inline code */
    :not(pre) > code[class*="lang-"] {
      padding: 0.1em;
      border-radius: 0.3em;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #93a1a1; /* base1 */
    }

    .token.punctuation {
      color: #586e75; /* base01 */
    }

    .namespace {
      opacity: 0.7;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #268bd2; /* blue */
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.url,
    .token.inserted {
      color: #2aa198; /* cyan */
    }

    .token.entity {
      color: #657b83; /* base00 */
      background: #eee8d5; /* base2 */
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
      color: #859900; /* green */
    }

    .token.function {
      color: #b58900; /* yellow */
    }

    .token.regex,
    .token.important,
    .token.variable {
      color: #cb4b16; /* orange */
    }

    .token.important,
    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }

    .token.entity {
      cursor: help;
    }
  }
}

.chat-input {
  align-self: flex-end;
  background-color: #fdfdfd;
  flex-shrink: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.chat-input-container {
  margin: 10px 0 10px 34px;
  position: relative;

  .chat-input-avatar {
    float: left;
  }

  form {
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 0;
    vertical-align: top;
  }

  textarea {
    display: block;
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: none;
    border: 0;
    outline: none;
    color: black;
    font-size: 1em;
    line-height: 1.38em;
    resize: none;
  }

  button[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background-color: $maroon;
    color: white;
    border-radius: 4px;
    border: 0;
  }
}

.chat-input-btn {
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding: 1.1em 3em;
  margin-top: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  background: #ea9448;
  color: #fff;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
