@import '../../mixins/_variables.scss';

.avatar {
  width: 30px;
  max-width: 30px;
  height: auto;
  border-radius: 4px;
}

.chat-container {
  display: flex;
  flex-direction: row;
}

.chat-menu {
  position: relative;
  height: 100%;
  z-index: 101;
  // border-right: 1px solid #f7f6f6;
  width: 75px;

  nav {
    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    color: white;
    border-right: 1px solid #f1f1f1;

    ul {
      // position: absolute;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      min-width: 75px;
      height: 65px;
      min-height: 65px;
      line-height: 65px;
      top: 0;
      left: 0;
      position: fixed;

      &:first-child {
        background-color: $violet;
      }

      &:first-child::after {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -1px;
        background-color: $violet;
      }
    }
  }
}

.chat-header-wrapper {
  width: calc(100% - 75px);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.chat-and-toolbar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  padding-top: 64px;
}

.chat-toolbar {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  order: 2;
  flex-shrink: 0;
  display: flex;
  width: 70px;
  // 
  border-left: 1px solid #f1f1f1;
}

.chat-header {
  z-index: 10; // XXX
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to left, $maroon, $violet);
  padding-left: 26px;
  display: flex;
  align-items: center;

  .chat-header-avatar {
    align-items: center;
    flex-shrink: 0;
    padding-right: 18px;

    img {
      border: 3px solid white;
      border-radius: 4px;
    }
  }

  .chat-header-title {
    flex-grow: 1;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    text-overflow: ellipsis;
  }

  .chat-user-avatar {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0 8px 19px;
    margin-right: 19px;
  }

  .avatar {
    float: right;
  }
}

.chat-wrapper {
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-content {
  height: 360px; // should be set dynamically
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #fdfdfd;

  .chat-item {
    transition: background-color 0.2s linear;
    background-color: transparent;

    &:hover {
      background-color: rgba(240, 240, 240, 0.3);
    }
  }

  .chat-item.burst-start {
    padding-bottom: 0.2em;
  }

  .chat-item.burst-continued {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .chat-item-container {
    margin: 0.4em 12px 0;
    padding-left: 22px;
    clear: both;
  }

  .chat-item-aside {
    float: left;
    margin-top: 6px;
  }

  .chat-item-content {
    margin-left: 52px;
    margin-right: 44px;
    vertical-align: top;
    min-height: 1.5em;
  }

  .chat-item-details {
    // 
  }

  .chat-item-user {
    vertical-align: middle;
    display: inline;
    margin-top: 2px;
    font-weight: 600;
    opacity: 0.7;
  }

  .chat-item-time {
    vertical-align: middle;
    display: inline;
    margin-top: 2px;
    float: right;
    color: rgba(170, 170, 170, 0.7);
  }

  .chat-item-text {
    color: black;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

.chat-input {
  align-self: flex-end;
  background-color: #fdfdfd;
  flex-shrink: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.chat-input-container {
  margin: 10px 0 10px 34px;
  position: relative;

  .chat-input-avatar {
    float: left;
  }

  form {
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 0;
    vertical-align: top;
  }

  textarea {
    display: block;
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: none;
    border: 0;
    outline: none;
    color: black;
    font-size: 1em;
    line-height: 1.38em;
    resize: none;
  }

  button[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background-color: $maroon;
    color: white;
    border-radius: 4px;
    border: 0;
  }
}

.chat-input-btn {
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding: 1.1em 3em;
  margin-top: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  background: #ea9448;
  color: #fff;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
