@import '../../mixins/_variables.scss';

.generic404 {
  background: url('../../assets/img/cloneBanner.jpg') no-repeat center center;
  color: $white;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 5em;
    margin: 16px;
  }

  p {
    font-size: 2em;
    margin: 0;
  }

  a {
    font-size: 2em;
    color: $trans-white75;

    &:hover {
      color: white;
    }
  }
}
