@import './mixins/_normalize.scss';
@import './mixins/_variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  max-width: 100vw;
  overflow: hidden;
}
