.explore {
  width: 100%;

  .explore-header {
    background: url(https://lh3.googleusercontent.com/HKa3ttDzIX5JJp7YGmEaD4pu3ptVGcfJqV6iNejj_GJ6d3w0VH3Td1GWnz__bVJQCKVveFr-JBTqYaZ25Zs-_b8ya_zEjBCpMAHzZWP2INEwqNCzUCC83TopLxzsEqx-cqNDF6VDKPa_LXSDZz0UM3BiJ-ZRJ7yB-L6B18jW5cVWJ9CBi0or1DxasAxm1AiSnlAl7N21Ybiu7S-HGbv7J3zM328jHOlBtaoFSZaeUDRsLUDkCGK5xxSR-6_Cn-hleN8qUmMGsGr8RC0utGuR5z5vLlZ4LiltBAPUPqpjr_pRIxutX9fS61ZgO6C2ChpV4mA-wuqL0YVrYTgMIZM0r_AT-Khijaq75csGf7OzFyL7lF1z2NCp3a5R-qEstCZZNF_k2HQJOc-ZrjZKLJbVuXKHp6sShs5jekSX3d9uBzpCUTF6CYr83aWSS4-Vqiqmd3Q8Z6Rr_mRcetnzY_3C-W-gIcB9Vrt3TKJ1xB4ANdNe9Qy2r1TKzaDh3VSKpJ5HzPqctJl5rw1mm1uHKfXat8qTWtoG9FL0uhB0R3t3divpmmYBJqmLyBvrOD30uVsfu8v_LuwBbqBs8vwNVLhVC_2Uvnw-dVRiXbST5whhjt7H_ib1infrGw=w2000-h1339-no) no-repeat center center;
    background-size: cover;
    background-color: #512e92;
    height: 16em;
    position: relative;
    color: white;

    h1 {
      position: absolute;
      bottom: 0;
      margin: 48px 0 48px 96px;
      font-size: 48px;
      font-weight: 200;
      min-width: 420px;
    }
  }

  .explore-header-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 16px;
    left: 96px;
    font-size: 22px;
  }

  .explore-header-nav {
    background-color: rgba(255,255,255,.3);
    width: 100%;
    height: 32px;
    margin-top: 64px;
    display: inline-block;
    line-height: 32px;
    padding-left: 96px;
    font-weight: 200;
  }

  .explore-page-description {
    width: 100%;
    max-width: 1400px;
    margin: 48px 0 48px 96px;

    h3 {
      font-weight: 400;
      color: rgb(188, 188, 188);
    }
  }

  .convo-card-list-section {
    flex: 1;
    padding-top: calc(15px);
    padding-bottom: calc(15px);
    background-color: #f1f1f1;
    height: 100%;
  }

  .convo-card-list {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(15px);
    padding-right: calc(15px);
  }

  .convo-card {
    padding: 10px;
    text-decoration: none;
    min-height: 164px;
    margin: 8px;
    overflow: hidden;
    flex: 1 0 18.625em;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    background-color: #fff;
    border-radius: 3px;
    color: #333;
    transition: transform 0.2s ease, max-width 0.2s ease, margin 0.2s ease, opacity 0.2s ease;

    &:hover {
      opacity: 1;

      .convo-card-action {
        opacity: 1;
      }
    }
  }

  .convo-card-header {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 0%;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }

    h3 {
      font-size: 22px;
      margin: 0;
    }
  }

  .convo-card-avatar {
    width: auto;
    max-height: 30px;
    margin-right: 10px;
    border-radius: 3px;
  }

  .convo-card-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 10px;
    border-top: 1px dotted rgb(242, 240, 237);
  }

  .convo-card-info {
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;
  }

  .convo-card-action {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: opacity 0.4s ease;

    button {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 19px;
      box-sizing: border-box;
      display: inline-block;
      background-color: #f68d42;
      border: none;
      border-radius: 6px;
      outline: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      text-align: center;
      transition: background-color 0.1s ease, border-color 0.1s ease;
      padding: 4.8px 21px;
    }
  }
}
